
SchoolSystem/bin
SchoolSystem/obj

frontend/node_modules

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

SchoolSystem/bin/Debug/netcoreapp3.1/ZstdNet.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Ubiety.Dns.Core.dll
SchoolSystem/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
SchoolSystem/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
SchoolSystem/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
SchoolSystem/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
SchoolSystem/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
SchoolSystem/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
SchoolSystem/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
SchoolSystem/bin/Debug/netcoreapp3.1/SchoolSystem.runtimeconfig.json
SchoolSystem/bin/Debug/netcoreapp3.1/SchoolSystem.runtimeconfig.dev.json
SchoolSystem/bin/Debug/netcoreapp3.1/SchoolSystem.pdb
SchoolSystem/bin/Debug/netcoreapp3.1/SchoolSystem.exe
SchoolSystem/bin/Debug/netcoreapp3.1/SchoolSystem.dll
SchoolSystem/bin/Debug/netcoreapp3.1/SchoolSystem.deps.json
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
SchoolSystem/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
SchoolSystem/bin/Debug/netcoreapp3.1/MySql.EntityFrameworkCore.dll
SchoolSystem/bin/Debug/netcoreapp3.1/MySql.Data.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
SchoolSystem/bin/Debug/netcoreapp3.1/K4os.Hash.xxHash.dll
SchoolSystem/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.Streams.dll
SchoolSystem/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.dll
SchoolSystem/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
SchoolSystem/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
SchoolSystem/bin/Debug/netcoreapp3.1/appsettings.json
SchoolSystem/bin/Debug/netcoreapp3.1/appsettings.Development.json
SchoolSystem/obj/SchoolSystem.csproj.nuget.g.targets
SchoolSystem/obj/SchoolSystem.csproj.nuget.g.props
SchoolSystem/obj/SchoolSystem.csproj.nuget.dgspec.json
SchoolSystem/obj/SchoolSystem.csproj.EntityFrameworkCore.targets
SchoolSystem/obj/project.nuget.cache
SchoolSystem/obj/project.assets.json
SchoolSystem/obj/Debug/netcoreapp3.1/staticwebassets/SchoolSystem.StaticWebAssets.Manifest.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.RazorTargetAssemblyInfo.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.pdb
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.MvcApplicationPartsAssemblyInfo.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.genruntimeconfig.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.GeneratedMSBuildEditorConfig.editorconfig
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.dll
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.csproj.FileListAbsolute.txt
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.csproj.CoreCompileInputs.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.csproj.CopyComplete
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.csproj.AssemblyReference.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.assets.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.AssemblyInfoInputs.cache
SchoolSystem/obj/Debug/netcoreapp3.1/SchoolSystem.AssemblyInfo.cs
SchoolSystem/obj/Debug/netcoreapp3.1/project.razor.json
SchoolSystem/obj/Debug/netcoreapp3.1/apphost.exe
SchoolSystem/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
.vs/SchoolSystem/config/applicationhost.config
.vs/SchoolSystem/DesignTimeBuild/.dtbcache.v2
.vs/SchoolSystem/v16/.suo
